@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .header {
    @apply flex flex-col w-full h-screen items-center py-12;
  }
  .nav__list__lists {
    @apply flex items-center text-dark text-nav-font font-semibold space-x-8;
  }
  .nav__list {
    @apply transition-all;
  }
  .nav {
    @apply flex items-center justify-between h-28 w-full z-20 font-sansSerif bg-stone opacity-[0.98] px-24 py-20;
  }
  .stick {
    @apply top-0 fixed bg-white transition-all duration-1000;
  }
  .nav__link {
    @apply cursor-pointer transition-all duration-500;
  }
  .open__account_btn {
    @apply bg-darkGreen rounded-full p-6 cursor-pointer hover:bg-opacity-85 transition-all duration-300;
  }
  .main_div {
    @apply grid grid-cols-2 h-full max-w-[115rem] gap-12 items-center justify-center justify-items-center px-20;
  }
  .green__gradiant {
    @apply bg-gradient-to-tl from-darkGreen to-mediumGreen;
  }
  .highLight {
    @apply relative px-[13px];
  }
  .highLightBox {
    @apply green__gradiant block content-none absolute bottom-0 -left-1 w-full h-full opacity-70 -z-10 -skew-x-12;
  }
  .h1 {
    @apply text-h1 font-bold leading-tight;
  }
  .h4 {
    @apply leading-relaxed font-semibold text-4xl w-115;
  }
  .btn__Scroll__To {
    @apply font-semibold text-xxl underline text-darkGreen;
  }
  .section {
    @apply w-full border-t border-zinc-300 px-16 py-56 transition-transform duration-1000 ease-in-out;
  }
  .hidden_section {
    @apply opacity-0 translate-y-32;
  }
  .section__title {
    @apply font-semibold gap-3 m-auto max-w-7xl;
  }
  .section__description {
    @apply text-darkGreen text-4xl font-semibold mb-4;
  }
  .section__header {
    @apply text-mediumDark text-4xxl font-semibold;
  }
  .feature__features {
    @apply grid grid-cols-2 gap-10 mt-44 px-40;
  }
  .feature {
    @apply w-[70%] items-center justify-self-center self-center font-normal text-balance text-dark space-y-8;
  }
  .feature__icon_div {
    @apply bg-lightGreen flex items-center justify-center rounded-full w-[5.5rem] h-[5.5rem];
  }
  .feature__icon {
    @apply w-10 h-10 fill-darkGreen;
  }
  .feature__title {
    @apply text-mediumDark text-title font-semibold;
  }
  .feature__description {
    @apply text-zinc-600/75 text-describtion leading-loose;
  }
  .modal {
    @apply fixed top-[50%] left-[50%] max-w-5xl h-max transition-all duration-500 ease-in-out z-50 shadow-lg bg-stone -translate-x-[50%] -translate-y-[50%] py-20 px-24;
  }
  .model__close_btn {
    @apply font-black text-4xl text-rose-500 hover:text-rose-600 transition-all absolute top-8 right-10;
  }
  .model_description {
    @apply text-5xl max-w-md font-bold mb-20 leading-snug text-center;
  }
  .model_label {
    @apply text-label font-semibold col-span-1;
  }
  .model_input {
    @apply col-span-2 shadow rounded-lg appearance-none outline-none text-label font-semibold text-zinc-950 px-6 py-3 focus:ring-2 focus:ring-mediumGreen transition-all;
  }
  .model_form {
    @apply grid grid-cols-3 items-center justify-center gap-10 mt-14;
  }
  .model_btn {
    @apply col-span-full mt-4 text-label font-semibold bg-darkGreen rounded-lg p-3 hover:bg-opacity-85 transition-all duration-300;
  }
  .footer_section {
    @apply flex flex-col items-center bg-zinc-700 w-full border-t border-zinc-600/50 py-28 gap-24;
  }
  .footer__list {
    @apply flex text-nav-font space-x-20 text-zinc-50/10 font-semibold;
  }
  .footer__list_items {
    @apply text-zinc-50 cursor-pointer hover:opacity-80 transition-all;
  }
  .icon {
    @apply h-20 transition-all duration-300 ease-linear;
  }
  .overlay {
    @apply absolute w-full h-full backdrop-blur z-40;
  }
  .img {
    @apply rounded-lg w-full;
  }
  .lazy_img {
    @apply blur-xl;
  }
}

:root {
  --color-primary: #5ec576;
  --color-secondary: #ffcb03;
  --color-tertiary: #ff585f;
  --color-primary-darker: #4bbb7d;
  --color-secondary-darker: #ffbb00;
  --color-tertiary-darker: #fd424b;
  --color-primary-opacity: #5ec5763a;
  --color-secondary-opacity: #ffcd0331;
  --color-tertiary-opacity: #ff58602d;
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: #444;
  line-height: 1.9;
  background-color: #f3f3f3;
}
.btn {
  display: inline-block;
  background-color: var(--color-primary);
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: 500;
  border: none;
  padding: 0.8rem 4.5rem;
  border-radius: 10rem;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  background-color: var(--color-primary-darker);
}

.btn--text {
  display: inline-block;
  background: none;
  font-size: 1.7rem;
  font-family: inherit;
  font-weight: 500;
  color: var(--color-primary);
  border: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  cursor: pointer;
  transition: all 0.3s;
}

p {
  color: #666;
}

img {
  transition: filter 0.5s;
}
/* OPERATIONS */
.operations {
  border-radius: 8px;
  max-width: 100rem;
  margin: 12rem auto 0 auto;

  background-color: #fff;
}

.operations__tab-container {
  display: flex;
  justify-content: center;
}

.operations__tab {
  margin-right: 2.5rem;
  /* font-weight: 600; */
  transform: translateY(-50%);
}

.operations__tab span {
  margin-right: 1rem;
  font-weight: 600;
  display: inline-block;
}

.operations__tab--1 {
  background-color: var(--color-secondary);
}

.operations__tab--1:hover {
  background-color: var(--color-secondary-darker);
}

.operations__tab--3 {
  background-color: var(--color-tertiary);
  margin: 0;
}

.operations__tab--3:hover {
  background-color: var(--color-tertiary-darker);
}

.operations__tab--active {
  transform: translateY(-66%);
}

.operations__content {
  display: none;
  /* JUST PRESENTATIONAL */
  font-size: 1.7rem;
  padding: 2.5rem 7rem 6.5rem 7rem;
  transition: trans;
}

.operations__content--active {
  display: block;
  grid-template-columns: 7rem 1fr;
  column-gap: 3rem;
  row-gap: 0.5rem;
}

.operations__header {
  font-size: 2.25rem;
  font-weight: 500;
  align-self: center;
}

.operations__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
}

.operations__icon svg {
  height: 2.75rem;
  width: 2.75rem;
}

.operations__content p {
  grid-column: 2;
}

.operations__icon--1 {
  background-color: var(--color-secondary-opacity);
}
.operations__icon--2 {
  background-color: var(--color-primary-opacity);
}
.operations__icon--3 {
  background-color: var(--color-tertiary-opacity);
}
.operations__icon--1 svg {
  fill: var(--color-secondary-darker);
}
.operations__icon--2 svg {
  fill: var(--color-primary);
}
.operations__icon--3 svg {
  fill: var(--color-tertiary);
}

/* SLIDER */
.slider {
  max-width: 100rem;
  height: 50rem;
  margin: 0 auto;
  position: relative;

  /* IN THE END */
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50rem;

  display: flex;
  align-items: center;
  justify-content: center;

  /* THIS creates the animation! */
  transition: transform 1s;
}

.slide > img {
  /* Only for images that have different size than slide */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer;
}

.slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%);
}

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;

  /* Only necessary when overlying images */
  /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  /* background-color: #fff; */
  background-color: #888;
  opacity: 1;
}

/* TESTIMONIALS */
.testimonial {
  width: 65%;
  position: relative;
}

.testimonial::before {
  content: '\201C';
  position: absolute;
  top: -5.7rem;
  left: -6.8rem;
  line-height: 1;
  font-size: 20rem;
  font-family: inherit;
  color: var(--color-primary);
  z-index: -1;
}

.testimonial__header {
  font-size: 2.25rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.testimonial__text {
  font-size: 1.7rem;
  margin-bottom: 3.5rem;
  color: #666;
}

.testimonial__author {
  margin-left: 3rem;
  font-style: normal;

  display: grid;
  grid-template-columns: 6.5rem 1fr;
  column-gap: 2rem;
}

.testimonial__photo {
  grid-row: 1 / span 2;
  width: 6.5rem;
  border-radius: 50%;
}

.testimonial__name {
  font-size: 1.7rem;
  font-weight: 500;
  align-self: end;
  margin: 0;
}

.testimonial__location {
  font-size: 1.5rem;
}

.section__title--testimonials {
  margin-bottom: 4rem;
}
.hidden {
  visibility: hidden;
  opacity: 0;
}

/* COOKIE MESSAGE */
.cookie-message {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  background-color: white;
  color: #bbb;
  font-size: 1.5rem;
  font-weight: 400;
}
